@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

html, body {
    height  : 100%
}

body {
    font-family         : "Roboto", "Helvetica", "Arial", sans-serif;
    font-size           : 15px;
    font-weight         : 300;
    line-height         : 1.75em;
    color               : #77777f;
    background-color    : #ddddde;
    box-shadow          : inset #eeeeef 0px 100px 50px;
}

#logo {
    height      : 100px;
    width       : 211px;
    margin      : 15px 30px 15px 30px;
    flex-shrink : 0
}

h2 {
    font-weight : 600;
    color       : #33333f;
    flex-shrink : 0
}

h1 {
    margin          : 45px 0px 30px 0px;
    font-size       : 45px;
    letter-spacing  : -3px;
    font-weight     : 300;
    color           : #33333f;
}

#container {
    display         : flex;
    flex-direction  : column;
    align-items     : stretch;
    min-height      : 100%
}

#content {
    background-color    : #ffffff;
    border-top          : solid 1px #bbbbbc;
    padding             : 15px 30px 15px 30px;
    flex                : auto;
    display             : flex;
    flex-direction      : column;
    box-shadow          : inset #ededef 0px 10px 100px
}

.block {
    width           : 768px;
    height          : auto;
    font-size       : 20px;
    margin-left     : auto;
    margin-right    : auto;
    flex            : auto;
    display         : flex;
    flex-direction  : column;
}

.block span, .block h1 {
    flex-shrink : 0
}

.feature-container {
    display     : flex;
    flex        : auto;
    align-items : center;
    min-height  : 316px
}

.feature {
    width       : 256px;
    height      : 256px;
    text-align  : center;
    font-size   : 30px;
    font-weight : 500
}
