@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

html, body, #container {
    height  : 100%
}

body {
    font-family         : "Roboto", "Helvetica", "Arial", sans-serif;
    font-size           : 15px;
    font-weight         : 300;
    line-height         : 1.75em;
    color               : #77777f;
    background-color    : #eeeeef;
}

#logo {
    height   : 100px;
    width    : 211px;
    margin   : 15px 30px 15px 30px
}

h2 {
    font-weight : 600
}

h1 {
    margin          : 45px 0px 30px 0px;
    font-size       : 45px;
    letter-spacing  : -3px;
    font-weight     : 300;
    color           : #33333f;
}

#container {
    display         : flex;
    flex-direction  : column;
    align-items     : stretch;
}

#content {
    background-color    : #ffffff;
    border-top          : solid 1px #bbbbbc;
    padding             : 15px 30px 15px 30px;
    flex                : auto
}

.block {
    width           : 768px;
    height          : auto;
    font-size       : 20px;
    margin-left     : auto;
    margin-right    : auto;
}
