@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

html, body {
    height  : 100%
}

body {
    font-family         : "Roboto", "Helvetica", "Arial", sans-serif;
    font-size           : 15px;
    font-weight         : 300;
    line-height         : 1.75em;
    color               : #77777f;
    background-color    : #ddddde;
    box-shadow          : inset #eeeeef 0px 100px 50px;
}

#container>a {
    height              : 130px;
}

#container>a>img {
    -webkit-transition  : all 0.1s ease-in-out
}

#container>a:hover>img {
    -webkit-transform   : scale(1.075);
}

#logo {
    height      : 100px;
    width       : 211px;
    margin      : 15px 30px 15px 30px;
    flex-shrink : 0
}

h2 {
    font-weight : 600;
    color       : #33333f;
    flex-shrink : 0
}

h1 {
    margin          : 45px 0px 30px 0px;
    font-size       : 45px;
    letter-spacing  : -3px;
    font-weight     : 300;
    color           : #33333f;
}

#container {
    display         : flex;
    flex-direction  : column;
    align-items     : stretch;
    min-height      : 100%
}

#content {
    background-color    : #ffffff;
    border-top          : solid 1px #bbbbbc;
    padding             : 15px 30px 15px 30px;
    flex                : auto;
    display             : flex;
    flex-direction      : column;
    box-shadow          : inset #ededef 0px 10px 100px
}

.block {
    width           : 768px;
    height          : auto;
    font-size       : 20px;
    margin-left     : auto;
    margin-right    : auto;
    flex            : auto;
    display         : flex;
    flex-direction  : column;
}

.block span, .block h1 {
    flex-shrink : 0
}

.feature-container {
    display     : flex;
    flex        : auto;
    align-items : center;
    min-height  : 316px;
    width       : 1024px;
    margin-left : -128px;
}

.feature-container a {
    flex    : auto
}

.feature {
    cursor              : pointer;
    flex                : auto;
    height              : 256px;
    text-align          : center;
    font-size           : 30px;
    font-weight         : 500;
}

.feature-image:hover {
    -webkit-transform   : scale(1);
    -webkit-filter      : saturate(1)
}

.feature-image {
    width               : 200px;
    height              : 200px;
    margin              : 0px auto 28px auto;
    background-image    : url(../graphics/sprite.png);
    -webkit-transform   : scale(0.9);
    -webkit-transition  : all 0.1s ease-in-out;
    -webkit-filter      : saturate(0)
}

.events {
    background-position : 0px 0px
}

.blog {
    background-position : 400px 0px
}

.newsletter {
    background-position : 200px 0px
}

a {
    text-decoration : none;
    color           : #77777f;
}

#newsletter {
    cursor  : pointer
}

.newsletterInput {
    font-size           : 30px;
    font-weight         : 500;
    border              : solid 1px #ffffff;
    padding             : 0px 4px 0px 4px;
    margin              : 0px;
    border-radius       : 3px;
    width               : 246px;
    font-family         : "Roboto", "Helvetica", "Arial", sans-serif;
    margin-top          : -6px;
    text-align          : center;
    color               : #77777f;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput.after, .newsletterInput.finally {
    border              : solid 1px #bbbbbf;
}

.newsletterInput::-webkit-input-placeholder {
    color               : #77777f;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput:-moz-placeholder {
    color               : #77777f;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput::-moz-placeholder {
    color               : #77777f;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput:-ms-input-placeholder {
    color               : #77777f;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput.after::-webkit-input-placeholder {
    color               : #ffffff;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput.after:-moz-placeholder {
    color               : #ffffff;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput.after::-moz-placeholder {
    color               : #ffffff;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput.after:-ms-input-placeholder {
    color               : #ffffff;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput.finally::-webkit-input-placeholder {
    color               : #bbbbbf;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput.finally:-moz-placeholder {
    color               : #bbbbbf;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput.finally::-moz-placeholder {
    color               : #bbbbbf;
    -webkit-transition  : all 0.25s ease-in-out
}

.newsletterInput.finally:-ms-input-placeholder {
    color               : #bbbbbf;
    -webkit-transition  : all 0.5s ease-in-out
}
